<meta http-equiv="content-type" content="text/html; charset=utf-8">
<table border="1" align="center">
  <% @keys.each_slice(4) do |keys| %>
    <table border="1" align="center">
    <tr style="page-break-inside: avoid;">
      <% keys.each do |key| %>
        <td>
          <strong>
            <p style="text-align: center">Código: <%= key.building.code %></p>
            <p style="text-align: center"><%= key.building.name %></p>
            <p style="text-align: center"><%= key.code_with_prefix %></p>
            <p style="text-align: center"><%= "#{key.building.address.street_type_humanize} #{key.building.address.name}" %></p>
            <p style="text-align: center"><%= "Nº #{key.building.address.number}" %> <%= "- #{key.building.address.complement}" unless key.building.address.complement.nil? %></p>
            <p style="text-align: center"><%= "#{key.building.address.neighborhood}" %></p>
            <p style="text-align: center"><%= "#{key.observation}" %></p>
          </strong>
        </td>
      <% end %>
    </tr>
    </table>
  <% end %>
</table>

<style type="text/css">
  table { border-collapse: collapse }
  td    { border: 1px solid black; vertical-align: center }
  td    { max-width: 54mm; min-width: 54mm; height: 80mm; width: 0px; page-break-inside: avoid !important }
  table thead { display: table-header-group; }
  table tr { page-break-inside: avoid; }
</style>
