<%= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :personable_type, collection: PersonableType, readonly: true  %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :name %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :cpf_cnpj %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :mother %>
    </div>

    <div class="col-xs-5 col-sm-offset-1">
      <%= f.input :father %>
    </div>
  </div>

  <%= f.input :gender, :as => :radio_buttons, :collection => Gender %>
  <%= f.input :birthdate, start_year: Date.today.year - 110, end_year: Date.today.year %>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :phone_number %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :mobile_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.input :email %>
    </div>
  </div>

  <%= f.simple_fields_for :address, @person.address do |b| %>
    <%= render 'addresses/form', f: b %>
  <% end %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn btn-default' %>
<% end %>
