<%= simple_form_for @person, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :personable_type, collection: PersonableType, readonly: true  %>

  <%= f.input :person_type, as: :radio_buttons, collection: PersonType %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :name %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :cpf_cnpj %>
    </div>
  </div>

  <%= f.input :gender, :as => :radio_buttons, :collection => Gender %>
  <%= f.input :birthdate, start_year: Date.today.year - 110, end_year: Date.today.year %>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :phone_number %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :mobile_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.input :email %>
    </div>
  </div>

  <%= f.simple_fields_for :address, @person.address do |b| %>
    <%= render 'addresses/form', f: b %>
  <% end %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn btn-default' %>
<% end %>

<script>
  $('#person_mobile_number').mask('(00) 00000-0000');
  $('#person_phone_number').mask('(00) 0000-0000');
  $('#person_address_attributes_cep').mask('00000-000');
  $('#person_cpf_cnpj').mask('000.000.000-00', {reverse: true});

  $('#person_person_type_individual').change(function() {
    $('#person_cpf_cnpj').mask('000.000.000-00', {reverse: true});
  });

  $('#person_person_type_company').change(function() {
    $('#person_cpf_cnpj').mask('00.000.000/0000-00', {reverse: true});
  });
</script>
