<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @person.mother %>
</p>

<p>
  <strong>Father:</strong>
  <%= @person.father %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @person.cpf %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @person.phone_number %>
</p>

<p>
  <strong>Mobile Number:</strong>
  <%= @person.mobile_number %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @person.fax %>
</p>

<p>
  <strong>Personable Type:</strong>
  <%= @person.personable_type %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', persons_path %>
