<%= simple_form_for @real_state_agency, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.file_field :avatar %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :trade_name %>
    </div>

    <div class="col-xs-5 col-sm-offset-1">
      <%= f.input :social_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :cnpj %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :phone_number %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :mobile_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.input :email %>
    </div>
  </div>

  <%= f.simple_fields_for :setting, @real_state_agency.setting do |b| %>
    <%= render 'settings/form', f: b %>
  <% end %>
  <br>
  <%= f.simple_fields_for :address, @real_state_agency.address do |b| %>
    <%= render 'addresses/form', f: b %>
  <% end %>

    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                real_state_agencies_path, :class => 'btn btn-default' %>
<% end %>

<script>
  $('#real_state_agency_cnpj').mask('00.000.000/0000-00', {reverse: true});
</script>
