<%- model_class = RealStateAgency -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:trade_name) %></th>
    <th><%= model_class.human_attribute_name(:cnpj) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><%= model_class.human_attribute_name(:mobile_number) %></th>
    <th><%= model_class.human_attribute_name(:phone_number) %></th>
    <th><%= model_class.human_attribute_name(:fax) %></th>
    <th><%= model_class.human_attribute_name(:social_name) %></th>
    <th><%= model_class.human_attribute_name(:avatar) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @real_state_agencies.each do |real_state_agency| %>
      <tr>
        <td><%= link_to real_state_agency.id, real_state_agency_path(real_state_agency) %></td>
        <td><%= real_state_agency.trade_name %></td>
        <td><%= real_state_agency.cnpj %></td>
        <td><%= real_state_agency.email %></td>
        <td><%= real_state_agency.mobile_number %></td>
        <td><%= real_state_agency.phone_number %></td>
        <td><%= real_state_agency.fax %></td>
        <td><%= real_state_agency.social_name %></td>
        <td><%= real_state_agency.avatar %></td>
        <td><%=l real_state_agency.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_real_state_agency_path(real_state_agency), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_real_state_agency_path,
            :class => 'btn btn-primary' %>
