<p id="notice"><%= notice %></p>

<h1>Real State Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Trade name</th>
      <th>Cnpj</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Phone number</th>
      <th>Fax</th>
      <th>Social name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @real_state_agencies.each do |real_state_agency| %>
      <tr>
        <td><%= real_state_agency.trade_name %></td>
        <td><%= real_state_agency.cnpj %></td>
        <td><%= real_state_agency.email %></td>
        <td><%= real_state_agency.mobile_number %></td>
        <td><%= real_state_agency.phone_number %></td>
        <td><%= real_state_agency.fax %></td>
        <td><%= real_state_agency.social_name %></td>
        <td><%= link_to 'Show', real_state_agency %></td>
        <td><%= link_to 'Edit', edit_real_state_agency_path(real_state_agency) %></td>
        <td><%= link_to 'Destroy', real_state_agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Real State Agency', new_real_state_agency_path %>
