<%- model_class = RealStateAgency -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:trade_name) %>:</strong></dt>
  <dd><%= @real_state_agency.trade_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cnpj) %>:</strong></dt>
  <dd><%= @real_state_agency.cnpj %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @real_state_agency.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile_number) %>:</strong></dt>
  <dd><%= @real_state_agency.mobile_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @real_state_agency.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:social_name) %>:</strong></dt>
  <dd><%= @real_state_agency.social_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= @real_state_agency.avatar %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            real_state_agencies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_real_state_agency_path(@real_state_agency), :class => 'btn btn-default' %>
