<%= simple_form_for @visit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :start_at, readonly: @visit.persisted? %>
    </div>

    <div class="col-xs-5">
      <%= f.input :finished_at, readonly: true if @visit.persisted? && !@visit.finished_at.nil? %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.association :realtor, collection: Person.realtors, readonly: @visit.persisted? %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.association :visitor, collection: Person.visitors, readonly: @visit.persisted? %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.association :owner,   collection: Person.owners, readonly: @visit.persisted? %>
    </div>

    <div class="col-xs-5 col-sm-offset-1">
      <%= f.association :building, label_method: :code, value_method: :id, readonly: @visit.persisted? %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.association :key, label_method: :code, value_method: :id, collection: Key.availables, readonly: @visit.persisted? %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.input :observation %>
    </div>
  </div>

  <%= f.button :submit %>

<% end %>

<script>
  $('#visit_building_id').change(function() {
    updateKeys($(this));
    updateOwner($(this));
  });

  $('#visit_owner_id').change(function() {
    $('#visit_building_id').html('<option value=""></option>');

    var url = '/update_buildings?person_id=' + $(this).val();
    var listitems = [];

    $.get(url, function(data) {
      data.forEach(function(building){
        listitems += '<option value="' + building.id + '">' + building.code + '</option>';
      });
      $('#visit_building_id').append(listitems);
    });
  });

  function updateKeys(e) {
    $('#visit_key_id').html('<option value=""></option>');

    var url = '/update_keys?building_id=' + e.val();
    var listitems = [];

    $.get(url, function(data) {
      data.forEach(function(key){
        listitems += '<option value="' + key.id + '">' + key.code + '</option>';
      });
      $('#visit_key_id').append(listitems);
    });
  }

  function updateOwner(e) {
    $('#visit_owner_id').html('<option value=""></option>');

    var url = '/update_owner?building_id=' + e.val();
    var listitems = [];

    $.get(url, function(data) {
      data.forEach(function(owner){
        listitems += '<option value="' + owner.id + '" selected>' + owner.name + '</option>';
      });
      $('#visit_owner_id').append(listitems);
    });
  }
</script>
