<%- model_class = Visit -%>
</br>
<div class="input-group">
  <%= form_tag pages_path, :method => 'get', class: 'input-group'  do %>
      <%= text_field_tag :search, nil, class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag 'Pesquisar', class: "btn btn-default" %>
        <%= hidden_field_tag :tab, 'visit' %>
      </span>
  <% end %>
</div>
</br>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:realtor) %></th>
    <th><%= model_class.human_attribute_name(:visitor) %></th>
    <th><%= model_class.human_attribute_name(:building) %></th>
    <th><%= model_class.human_attribute_name(:key) %></th>
    <th><%= model_class.human_attribute_name(:start_at) %></th>
    <th><%= model_class.human_attribute_name(:finished_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to visit.id, visit_path(visit) %></td>
        <td><%= visit.realtor.name %></td>
        <td><%= visit.visitor.name %></td>
        <td><%= visit.building.code %></td>
        <td><%= visit.key.code %></td>
        <td><%= I18n.l(visit.start_at, format: :default) %></td>
        <td><%= ldate(visit.finished_at, format: :default) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_visit_path(visit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      visit_path(visit),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @visits, param_name: 'visit', params: {tab: 'visit'}, renderer: BootstrapPagination::Rails %>
</br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_visit_path,
            :class => 'btn btn-primary' %>
