<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.input :email %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.input :password %>
    </div>

    <div class="col-xs-4 col-sm-offset-1">
      <%= f.input :password_confirmation %>
    </div>
  </div>

  <%= f.input :admin, disabled: !current_user.admin? %>

  <%= f.input :active, disabled: !current_user.admin? %>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
