<br>
<% @keys.each_slice(12) do |keys| %>
  <div class="col-sm-12">
    <div class="row">
      <% keys.each do |key| %>

        <div class="col-md-1">
            <div class="clearfix">
              <% if key.building.status == BuildingStatus::RENTED || key.building.status == BuildingStatus::SOLD %>
                  <div>
                    <p class="text-center"><%= truncate(key.code, length: 9) %></p>
                  </div>
                  <i class="fa fa-home fa-3x fa-custom" aria-hidden="true" style="color: green"></i>
              <% elsif key.status == KeyStatus::AVAILABLE %>
                <div>
                  <p class="text-center"><%= truncate(key.code, length: 9) %></p>
                </div>
                <i class="fa fa-key fa-3x fa-custom" aria-hidden="true" style="color: green"></i>
              <% else %>
                <%= link_to set_status_to_available_path(key_id: key.id), data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: "btn btn-default" do %>
                  <div>
                    <p class="text-center"><%= truncate(key.code, length: 9) %></p>
                  </div>
                  <i class="fa fa-key fa-3x fa-custom" aria-hidden="true" style="color: darkblue"></i>
                <% end %>
              <% end %>
            </div>
            <p class="text-center"><%= link_to truncate(key.building.code, length: 9), building_path(key.building) %></p>
          </div>

      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @keys, params: {tab: 'key'}, renderer: BootstrapPagination::Rails %>
