<%- model_class = Key -%>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:code) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:building_id) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @keys.each do |key| %>
      <tr>
        <td><%= link_to key.id, key_path(key) %></td>
        <td><%= key.code %></td>
        <td><%= key.description %></td>
        <td><%= key.building_id %></td>
        <td><%=l key.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_key_path(key), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      key_path(key),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @keys, params: {active_tab: 'keys'} %>
</br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_key_path,
            :class => 'btn btn-primary' %>
