<%= simple_form_for @building, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :source, collection: BuildingSource, include_blank: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :code %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :building_type, collection: BuildingType %>
    </div>

    <div class="col-xs-4 col-sm-offset-1">
      <%= f.association :person %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= f.input :name %>
    </div>
  </div>

  <%= f.input :observation %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :status, collection: BuildingStatus %>
    </div>
  </div>
  <%= f.input :active %>

  <%= f.simple_fields_for :address, @building.address do |b| %>
    <%= render 'addresses/form', f: b %>
  <% end %>

  <div class="page-header">
    <h1>
      <small><%= Key.model_name.human %></small>
    </h1>
  </div>

  <%= f.simple_fields_for :keys do |b| %>
    <%= render 'keys/form', f: b %>
  <% end %>

  <div class='links'>
    <%= link_to_add_association 'Adicionar outra chave', f, :keys, id: 'btn-add-another-key', class: 'btn btn-default' %>
  </div>
  </br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                buildings_path, :class => 'btn btn-default' %>
<% end %>

<script>
  $('#building_address_attributes_cep').mask('00000-000');

  $("#building_person_id").select2({
    theme: 'bootstrap'
  });

  var url = '/update_keys?source=' + $('#building_source').val();
  var listitems = [];

  $.get(url, function(data) {
    data.forEach(function(code){
      listitems += '<option value="' + code + '">' + code + '</option>';
    });

    $.each($("[id^=building_keys_attributes_][id$=_code]"), function () {
      $(this).append(listitems);
    });
  });
</script>
