<%- model_class = Building -%>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:code) %></th>
    <th><%= model_class.human_attribute_name(:building_type) %></th>
    <th><%= model_class.human_attribute_name(:active) %></th>
    <th><%= model_class.human_attribute_name(:person) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @buildings.each do |building| %>
      <tr>
        <td><%= link_to building.id, building_path(building) %></td>
        <td><%= building.code %></td>
        <td><%= building.building_type_humanize %></td>
        <td><%= t building.active.class %></td>
        <td><%= building.person.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_building_path(building), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @buildings, params: {active_tab: 'buildings'} %>
</br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_building_path,
            :class => 'btn btn-primary' %>
