<div class="page-header">
  <h1>
    <small><%= Address.model_name.human %></small>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :street_type, :collection => StreetType %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.input :name %>
    </div>

    <div class="col-xs-2 col-sm-offset-1">
      <%= f.input :number %>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <%= f.input :complement %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= f.input :neighborhood %>
    </div>

    <div class="col-xs-4 col-sm-offset-1">
      <%= f.input :city %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.input :observation %>
    </div>
  </div>
</div>
